@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main container */
.container {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Nav bar */
  .nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
  }
  
  .nav-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .nav-item.active {
    background-color: #222;
  }
  
  .nav-item p {
    margin: 0;
    color: #fff;
  }
  
  /* Main content */
  .main-content {
    background-color: #444;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
  }
  
  /* Gallery */
  .gallery {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
  }
  
  .gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gallery-header p {
    margin: 0;
    font-size: 18px;
  }
  
  .add-image-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .gallery-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .gallery-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .gallery-items {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1;
  }
  
  .gallery-items img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  
  
